<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Administración - Centro de Servicios Ambientales{% endblock %}</title>

    <!-- Bootstrap core CSS-->
    <link href="{{ asset('assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{{ asset('assets/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="{{ asset('assets/vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ asset('assets/css/sb-admin.css') }}" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
</head>

<body id="page-top">

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="{{ path('empresa_info') }}">Servicios Ambientales</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
        </div>
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <span class="badge badge-danger">9+</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
        <li class="nav-item dropdown no-arrow mx-1">
            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <span class="badge badge-danger">7</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
        <li class="nav-item dropdown no-arrow">
            {% if app.user %}
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle fa-fw"></i>
                <span class="username username-hide-on-mobile"> {{ app.user.username }} </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
{#                <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">{{ 'user.profile'|trans }}</a>
                <div class="dropdown-divider"></div>#}
                <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">{{ 'user.logout'|trans }}</a>
            </div>
            {% else %}
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle fa-fw"></i>
                <span class="username username-hide-on-mobile"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="{{ path('fos_user_registration_register') }}">{{ 'user.register'|trans }}</a>
                <a class="dropdown-item" href="{{ path('fos_user_security_login') }}">{{ 'user.login'|trans }}</a>
            </div>
            {% endif %}
        </li>
    </ul>
</nav>

<div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        {% if app.user %}
            <li class="nav-item dropdown active show">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Nomencladores</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <a class="dropdown-item" href="{{ path('cargo_index') }}">Cargos</a>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Categorías</h6>
                    <a class="dropdown-item" href="{{ path('categoria_docente_index') }}">Docentes</a>
                    <a class="dropdown-item" href="{{ path('categoria_cientifica_index') }}">Científicas</a>
                    <a class="dropdown-item" href="{{ path('categoria_investigativa_index') }}">Investigativas</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('efemeride_ambiental_index') }}">Efemérides Ambientales</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('red_social_index') }}">Redes Sociales</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('vinculo_index') }}">Vínculos</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('tipo_servicio_index') }}">Tipos de Servicio</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('tipo_usuario_index') }}">Tipos de Usuario</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('empresa_index') }}">
                    <i class="fas fa-fw fa-building"></i>
                    <span>Empresas</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('capital_humano_index') }}">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Capital Humano</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('proyecto_index') }}">
                    <i class="fas fa-fw fa-edit"></i>
                    <span>Proyectos</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-fw fa-file"></i>
                    <span>Investigaciones</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('publicacion_index') }}">
                    <i class="fas fa-fw fa-th-list"></i>
                    <span>Publicaciones</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ path('eventocsa_index') }}">
                    <i class="fas fa-fw fa-book-open"></i>
                    <span>Eventos CSA</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-fw fa-university"></i>
                    <span>Eventos Externos</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-fw fa-folder-open"></i>
                    <span>Trabajos Presentados</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('noticia_ambiental_index') }}">
                    <i class="fas fa-fw fa-newspaper"></i>
                    <span>Noticias Ambientales</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('cliente_index') }}">
                    <i class="fas fa-fw fa-briefcase"></i>
                    <span>Clientes</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="tables.html">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Usuarios</span></a>
            </li>
        {% else %}
            <li class="nav-item dropdown active show">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Nomencladores</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <a class="dropdown-item" href="{{ path('fos_user_security_login') }}">Cargos</a>
                    <div class="dropdown-divider"></div>
                    <h6 class="dropdown-header">Categorías</h6>
                    <a class="dropdown-item" href="{{ path('fos_user_security_login') }}">Docentes</a>
                    <a class="dropdown-item" href="{{ path('fos_user_security_login') }}">Científicas</a>
                    <a class="dropdown-item" href="{{ path('fos_user_security_login') }}">Investigativas</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('fos_user_security_login') }}">Efemérides Ambientales</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('fos_user_security_login') }}">Redes Sociales</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('fos_user_security_login') }}">Vínculos</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('fos_user_security_login') }}">Tipos de Servicio</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('fos_user_security_login') }}">Tipos de Usuario</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_security_login') }}">
                    <i class="fas fa-fw fa-building"></i>
                    <span>Empresas</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_security_login') }}">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Capital Humano</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_security_login') }}">
                    <i class="fas fa-fw fa-edit"></i>
                    <span>Proyectos</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_security_login') }}">
                    <i class="fas fa-fw fa-file"></i>
                    <span>Investigaciones</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_security_login') }}">
                    <i class="fas fa-fw fa-th-list"></i>
                    <span>Publicaciones</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_security_login') }}">
                    <i class="fas fa-fw fa-book-open"></i>
                    <span>Eventos CSA</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_security_login') }}">
                    <i class="fas fa-fw fa-university"></i>
                    <span>Eventos Externos</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_security_login') }}">
                    <i class="fas fa-fw fa-folder-open"></i>
                    <span>Trabajos Presentados</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_security_login') }}">
                    <i class="fas fa-fw fa-newspaper"></i>
                    <span>Noticias Ambientales</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_security_login') }}">
                    <i class="fas fa-fw fa-briefcase"></i>
                    <span>Clientes</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('fos_user_security_login') }}">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Usuarios</span></a>
            </li>
        {% endif %}
    </ul>

    <div id="content-wrapper">

        <div class="container-fluid">
            <!-- Breadcrumbs
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Overview</li>
            </ol>-->
            {#<div id="container">#}
                <!-- BEGIN PAGE TITLE-->
                <h1 class="page-title"> {% block page_title %}{% endblock %}
                    <small>{% block page_title_details %}{% endblock %}</small>
                </h1>
                <!-- END PAGE TITLE-->
                {% block body %}{% endblock %}
           {# </div>#}
        </div>
        <!-- /.container-fluid -->

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}{% endblock %}

<!-- Bootstrap core JavaScript-->
<script src="{{ asset('assets/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

<!-- Core plugin JavaScript-->
<script src="{{ asset('assets/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Page level plugin JavaScript-->
<script src="{{ asset('assets/js/Chart.min.js') }}"></script>
<script src="{{ asset('assets/vendor/datatables/jquery.dataTables.js') }}"></script>
<script src="{{ asset('assets/vendor/datatables/dataTables.bootstrap4.js') }}"></script>

<!-- Custom scripts for all pages-->
<script src="{{ asset('assets/js/sb-admin.min.js') }}"></script>

<!-- Demo scripts for this page-->
<script src="{{ asset('assets/js/demo/datatables-demo.js') }}"></script>
{#<script src="{{ asset('assets/js/demo/chart-area-demo.js') }}"></script>#}

</body>

</html>
